h1 {
	color: white;
	text-align: center;
	font-family: lora;
    background-color: pink;
	padding: 20px;
	border-style: none;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.place {
	display: inline-block;
	text-align: center;
}

.title {
	text-align: center;
	margin: 20px;
    font-weight: bold;
    font-size: 25px;
    padding-top: 25px;
}

.img {
	text-align: center;
}

p {
	text-align: justify;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
}

#first {  

	background-color: blue;
	margin-bottom: 45px;

	}


#second {
	background-color: pink;

}
#third {
	background-color: blue;

}

#first, #second, #third {
	font-family: lora;
	margin-right: 10px;
	margin-left: 10px;
}

#Maui {
	margin-left: 550px;
}

#Reykjavik {
	margin-right: 25px;
	margin-left: 25px;
}

#Aspen {
	margin-right: 550px;
}

#all-places {
	margin-top: 25px;
	margin-bottom: 25px;
}
footer {

	text-align: center;
}

