h1 {
	color: white;
	text-align: center;
	font-family: helvetica 10px;
    background-color: pink;
	padding: 20px;
	border-style: none;
	margin: 5px;
}

ul {

  list-style-type: none;

}

li {
	display: inline;
	text-align: center;
}

#title {
	text-align: center;
	margin: 10px;
    font-weight: bold;
    font-size: 15px;
}

.img {
	text-align: center;
}

p {
	text-align: justify;
}

.1 {
	background: :blue;

}
.2 {
	background: pink;

}
.3 {
	background: blue;

}

