body, html {
  height: 100%;
  margin: 0;
}

.middle {
	background: white;
	margin-right: 110px;
	margin-left: 110px;
}

#two-column .middle {

	display: flex;
	justify-content: space-between;
}

.container {

  background: lightgray;
  border: 1px solid gray;
}

.box-one {

  background: lightgray;
  border: 1px solid gray;
  height: 600px;
  width: 850px;

}
.box-two {

  background: lightgray;
  border: 1px solid gray;
  height: 600px;
  width: 340px;

}

.footer {

  background: lightgray;
  border: 1px solid gray;

}

#two-column .container {
  height: 200px;
  margin-top: 120px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 20px;
}


#two-column .box-two {

	height: 600px;
}

#two-column .box-one {

	height: 600px;
	
}

#two-column .footer {
  height: 200px;
  margin-top: 20px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 120px;
}

#three-column .container {
  height: 200px;
}