body, html {
  height: 100%;
  margin: 0;
}

#two-column .container {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 120px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 20px;

}

#two-column .middle {

	display: flex;
	justify-content: space-between;
	background: white;
	margin-right: 110px;
	margin-left: 110px;
}

#two-column .box-one {

  background: lightgray;
  border: 1px solid gray;
  height: 500px;
  width: 790px;

}
#two-column .box-two {

  background: lightgray;
  border: 1px solid gray;
  height: 500px;
  width: 400px;

}


#two-column .footer {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 20px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 120px;
}

#three-column .container {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 120px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 20px;
}

#three-column .footer {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 20px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 120px;
}

#three-column .middle {

	display: flex;
	justify-content: space-between;
	background: white;
	margin-right: 110px;
	margin-left: 110px;
}

#three-column .box-one {

  background: lightgray;
  border: 1px solid gray;
  height: 500px;
  width: 200px;

}

#three-column .box-two {

  background: lightgray;
  border: 1px solid gray;
  height: 500px;
  width: 750px;

}

#three-column .box-three {

  background: lightgray;
  border: 1px solid gray;
  height: 500px;
  width: 200px;

}

#simple-marketing .container {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 120px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 20px;
}

#simple-marketing .footer {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  margin-top: 20px;
  margin-right: 110px;
  margin-left: 110px;
  margin-bottom: 120px;
}

#two-sections, #three-sections {

	display: flex;
	justify-content: space-between;
	background: white;
	margin-right: 110px;
	margin-left: 110px;
}

#three-sections {

	margin-top: 20px;
}

#two-sections .box-one {

  background: lightgray;
  border: 1px solid gray;
  height: 400px;
  width: 590px;

}

#two-sections .box-two {

  background: lightgray;
  border: 1px solid gray;
  height: 400px;
  width: 590px;

}

#three-sections .box-one {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  width: 380px;

}
#three-sections .box-two {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  width: 380px;

}


#three-sections .box-three {

  background: lightgray;
  border: 1px solid gray;
  height: 200px;
  width: 380px;

}