
h1 {

	height: 100px;
	font-family: bodoni 72;
	font-weight: bold;
	color: D39621;
	text-align: center;
	font-size: 144px;
	padding: 30px;

}


#info {
	display: flex;
	justify-content-content: space-around;
}
