body {

	background-color: rgba(211,150,33,100);
	color: white;
}
.container {
  width: 90%;
  max-width: 1295px;

}

h1, span {

	font-family: abril fatface;
	text-align: left;
	font-size: 70px;
	font-weight: bold;
}
h1 {
	width: 90%;
	max-width: 1295px;
}

h2 {

	font-family: helvetica;
	font-size: 28px;
	font-weight: normal;
}

h2 .yellow {
	font-size: 40px;
}

main {
	display: flex;
	width: 90%;
	max-width: 1295px;
}

header, footer {
 
 	
	margin-left: 7%;
 	margin-right: 7%;
 	width: 90%;
	max-width: 1295px;
 	
 }

 header {

 	border-bottom: 3px solid black; 
 
 }

footer {

    display: flex;
    justify-content: space-between;
	padding-top: 20px;
	

}

.info {
	width: 28%;
}
.header {
	width: 90%;
}

.show-info {
	display: none;
}

.yellow {
	color: rgba(211,150,33,100);
}
.grey {
	color: rgba(177,177,177,100);
}


.custom-select {

 	url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
 	
 	}

.nav-container {
	width: 85%;
}

.center {
	padding-right: 30px;
}

@media screen and (max-width: 1050px) {


footer { flex-direction: column;

}
.info {
	width: 100%;
}
 header {
		margin-right: 0;
	}


}


@media (max-width: 630px) {

 header {
		height: : 10%;
	}

	h1 {
		flex-direction: column;
		width: 100%;
  }

  .container {
  	margin-right: 10%;
  }
	
	   	    	}

	