body {
    font-family: "Helvetica";
   
	 }

h1 {

	height: 100px;

}

h1, h2 {
	text-align: center;

}

div {
	display: flex;
	justify-content: space-around;
}

#calculate {
	height: 150px;
}

#salary {
	width: 400px;
}

#category {
	width: 400px;
}

p {
	text-align: center;
}

#result {

	height: 100px;
	text-align: center;
	background-color: white;
	color: black;
	align-content: center;
}

#about {
	text-align: center;
	margin-bottom: 50PX;
}