body {

	font-family:lato;
	width: 720px; 
    padding: 54px solid;
    border-left: solid 6px #dddddd;
    padding-left: 30px;

}


ul {

	margin-bottom: 40px;
}

.blogtitle {
  	
    margin-bottom: 0px;
	font-weight: 300;
	font-size: 50px;
	color: #dd0000;

}

ul {

	padding: 0;
	font-size: 22px;
	display: flex;
	justify-content: space-between;
	width: 620px;
	color: #444444;
	
}


a {  

font-weight: 200;

}	

header h2 {

	font-weight: 200;

}

li {

  list-style-type: none;
  display: inline-block;

}

hr {

 border-width: 0.5px;
 max-width: 700px;

}

footer a {

    color: #dd0000;
    font-size: 18px;
}

article {

	
	font-weight: 300;
	font-size: 18px;
	color: grey;
	max-width: 710px;
	line-height: 1.5;
}


a:visited {

	color: #cccccc;

	}

li:hover, a:hover, .blogtitle:hover {

     color: #aa0000;
}


.footer {

	color: #cccccc;

}

.lines {
	color: #bbbbbb;

}

.dates {
	
	font-weight: 300;
	font-size: 35px;
	color: #cccccc;
	margin-bottom: 0px;
}

.title {

	font-size: 35px;
    color: black;
    margin-bottom: 10px;
    font-weight: 200;
	 margin-top: 0px;
}

.copyright {

	color: #bbbbbb;
	font-family: lato;
	font-weight: 300;
	font-size: 18px;
}

.continues {

    float: right;
	color: #dd0000;
	font-weight: bold;
	
}