body {

	width: 720px; 
    padding: 54px solid;
    border-left: solid 6px #dddddd;
    padding-left: 30px;

}

header {

	color: #444444;
	font-family: lato; 
	line-height: 1.5;
}

ul, h2 { 

	 line-height: 1.5;
	 margin-top: 0px;
	
}

h2 {
 margin-bottom: 0px;
}

ul {

	margin-bottom: 40px;
}

.blogtitle {
  	
    line-height: 1.5;
    margin-bottom: 0px;
	font-family:lato;
	font-weight: 300;
	font-size: 50px;
	color: #dd0000;

}

ul {

	padding: 0;
	display: flex;
	justify-content: space-between;
	font-family: lato;
}

a {  

font-family: lato;
font-weight: 150;

}	


h2 {
	color: black;
	font-family: lato;
    font-weight: 200;
   
}


li {

  list-style-type: none;
  display: inline-block;

}

hr {

 border-width: 0.5px;
 max-width: 700px;

}

footer a {
    font-family: Lato;
    color: #dd0000;
}

article {

	font-family: lato;
	font-weight: 300;
	font-size: 18px;
	color: grey;
	max-width: 700px;
	line-height: 1.5;
}

.blogtitle:hover , a:hover {
     color: #aa0000;
}

li:hover {

     color: #aa0000;
}

a:visited {
	color: #cccccc;
	}

a:hover {
	  color: #aa0000;

}

.footer {

	font-family: lato;
	color: #cccccc;

}

.lines {
	color: #bbbbbb;
	font-family: lato;
}

.dates {
	font-family: lato;
	font-weight: 300;
	font-size: 35px;
	color: #cccccc;
	margin-bottom: 0px;
}

.title {

	font-family: lato;
	font-size: 35px;
    color: black;
    margin-bottom: 10px;
}

.copyright {

	color: #bbbbbb;
	font-family: lato;
	font-weight: 300;
}

.continues {

	font-family: lato;
    float: right;
	color: #dd0000;
	font-weight: bolder;
	
}