/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */
body {

	width: 760px; 
  color: white;
  font-family: Source Sans Pro;
  
	}


header {

   background: black;
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
  

}

header .left {

	font-family: Merriweather, serif;
  color: yellow;
  display:flex;
  font-size: 25px;
  margin-left: 20px;

}

header .right {

  display: flex;
  color: white;
  justify-content: space-between;
  width: 400px; 
  margin-right: 20px;

}

.tagline {

  background-color: #C6C6C6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather", italic;
  font-size: 18px;
  color: black;
  border-top: 3px solid yellow;
}

.taste {
  color: gray;
  text-decoration: line-through;
  margin-right: 3px;
  margin-left: 3px;
}

.are {
  text-decoration: underline;
  text-decoration-color: yellow;
  margin-right: 3px;
  margin-left: 3px;
}



 
