/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */
body {

	width: 800px; 
  color: white;
  background: url('img/coworking.jpg');

	}


header {

   background: black;
   display: flex;
   justify-content: space-between;
   height: 60px;
   align-items: center;
  

}

header .left {

	font-family: Merriweather, serif;
  color: yellow;
  display:flex;
  font-size: 25px;
  margin-left: 20px;

}

header .right {

  display: flex;
  color: white;
  justify-content: space-between;
  width: 400px; 
  margin-right: 20px;

}

.tagline {

  background-color: #C6C6C6;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Merriweather, italic;
  font-size: 18px;
  color: black;
  border-top: 3px solid yellow;
}

.taste {
  color: gray;
  text-decoration: line-through;
  margin-right: 3px;
  margin-left: 3px;
}

.are {
  text-decoration: underline;
  text-decoration-color: yellow;
  margin-right: 3px;
  margin-left: 3px;
}

.square {
  display: flex;
  justify-content: flex-end;
 
}

.match {

  height: 220px;
  width: 280px;
  border: black solid 2px;
  padding: 30px;
  color: black;
  font-family: Merriweather;

}

.createfind {
  background: #C6C6C6;
  display: flex;
  justify-content: space-between;

}

.designer, .developer, .profile {
  color: black;
  font-family: Merriweather;
  width: 200px;


}

.designer {
  margin-right: 20px;
}

.profile {
  margin-left: 20px;
}

.designer h1, .developer h1, .profile h1 {
  font-size: 20px;
}

.designer p, .developer p, .profile p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 15px;
}

.match p {

  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 15px;
}

footer {
  background-color: black;
  height: 50px;
  display: flex;
}
 
