/* FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif; */
body {

	width: 720px; 
  color: white;
  font-family: Source Sans Pro;

	}


header {

   background: black;
   display: flex;
   justify-content: space-around;
  

}

header .left {

	display:flex;
  flex-basis: auto;

}

header .right {

  display: flex;
  justify-content: space-between;
  width: 450px; 

}



 
