body {

	font-family: Lato;
	font-size: 10px;
	width: 720px; 
    padding: 54px solid;
    border-left: solid 6px #dddddd;
    padding-left: 30px;

}

header {
	color: #444444;
    font-family: lato;
    line-height: 1.5;

}

ul {
	padding: 0;
}

h2 {
	color:black;
	font-family: ;
}

li {

  list-style-type: none;
  display: inline-block;

}

hr {

 border-width: 0.5px;
 max-width: 700px;
 
}

footer {
	font-size: 10px;
	font-family: Lato;
	font-weight: 300;
	color: #dd0000;
}

article {

	color: #cccccc;
	max-width: 700px;
}

.blogtitle {
	
	color: #dd0000;
	font-weight: 700px;

}

.blogtitle:hover , a:hover {
     color: #aa0000;
}

li:hover {

     color: #aa0000;
}

a:visited {
	color: #cccccc;
	}

.dates {
	color: #cccccc;
}

.title {

	color: black;
}

.copyright {

	color: #bbbbbb;
}

.continues {

	float: right;
	color: #dd0000;
	font-weight: bold;

}